.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin:10px;
    font-size: 18px;
    text-indent: 40px;
}

.header-image {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}