.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:10px;
    font-size: 18px;
    text-indent: 40px;
}

.header-image {
    width: auto;
    height: 400px;
    border-radius: 10px;
    object-fit: cover;
    border: 4px solid #ffffff;
}

.section {
    margin: 0 20px 0 20px;
    width: min( 650px, 100%);
    align-self: center;
}

.passage {
    margin: 10px;
    line-height: 2;
    text-align: justify;
    text-justify: inter-word;
    text-indent: 40px;
}

.date {
    font-size: 14px;
    text-align: right;
}

.body-image {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    font-size: 14px;
    background-color: #ffffff;
    margin: 0 auto;
    align-self: center;
}

.body-image img {
    margin: 8px 8px 5px 8px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid lightgray;
}

.body-image p {
    margin: 0;
    text-align: center;
    text-indent: 0;
}

.code-container {
    /*background-color: #0d1117;*/
    background-color: #222229;
    overflow: hidden;
    overflow-x: auto;
    text-indent: 0;
    border: 2px solid #444444;
    border-radius: 10px;
}

.code-container p {
    margin: 0;
    padding: 4px 0 2px 10px;
    font-family: Monaco, monospace;
    font-size: 16px;
    color: whitesmoke;
    border-bottom: 2px solid #444444;;
}

.code-container pre {
    margin: 0;
    overflow: hidden;
    overflow-x: auto;
    font-size: 14px;
    line-height: 1.5;
    text-indent: 0;
}

.code-container code {
    font-size: 14px;
    background-color: #222229;
    padding: 0.2em;
    word-break: normal;
    letter-spacing: normal;
}