.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:10px;
    font-size: 18px;
    text-indent: 40px;
}

.header-image {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}

.section {
    margin: 20px;
}

.passage {
    margin: 10px;
    line-height: 2;
}

.date {
    font-size: 14px;
    text-align: right;
}

.body-image {
    width: 100%;
    height: auto;
}